 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/Ateneo12.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 484px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 399px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 306px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 230px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 145px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 750px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 630px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-weight: normal;
  margin: 37px auto 0 30px;
}

.u-section-2 .u-text-2 {
  margin: 40px 30px 0 0;
}

.u-section-2 .u-image-1 {
  min-height: 630px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/2144157090_ef068a0432_b.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 639px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 519px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 519px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 518px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    min-height: 398px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 817px;
  }

  .u-section-2 .u-image-1 {
    min-height: 597px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 596px;
  }

  .u-section-2 .u-image-1 {
    min-height: 376px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 59px;
}.u-block-1ca8-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-1ca8-5 {
  position: absolute;
  left: calc(((100% - 1140px) / 2)  + -178px);
  width: 65px;
  height: 65px;
  top: 287px;
  right: auto;
}

.u-block-1ca8-6 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  top: 273px;
  right: calc(((100% - 1140px) / 2)  + -177px);
}

@media (max-width: 1199px) {
  .u-block-1ca8-5 {
    left: calc(((100% - 940px) / 2)  + -147px);
  }

  .u-block-1ca8-6 {
    right: calc(((100% - 940px) / 2)  + -146px);
  }
}

@media (max-width: 991px) {
  .u-block-1ca8-5 {
    left: calc(((100% - 720px) / 2)  + -113px);
  }

  .u-block-1ca8-6 {
    right: calc(((100% - 720px) / 2)  + -112px);
  }
}

@media (max-width: 767px) {
  .u-block-1ca8-5 {
    left: calc(((100% - 540px) / 2)  + -85px);
  }

  .u-block-1ca8-6 {
    right: calc(((100% - 540px) / 2)  + -84px);
  }
}

@media (max-width: 575px) {
  .u-block-1ca8-5 {
    left: calc(((100% - 340px) / 2)  + -54px);
  }

  .u-block-1ca8-6 {
    right: calc(((100% - 340px) / 2)  + -53px);
  }
}

.u-section-4-1 .u-sheet-1 {
  min-height: 585px;
}

.u-section-4-1 .u-text-1 {
  font-weight: 400;
  font-size: 3rem;
  margin: 24px auto 0;
}

.u-section-4-1 .u-group-1 {
  min-height: 430px;
  margin-top: 24px;
  margin-bottom: 50px;
  height: auto;
}

.u-section-4-1 .u-container-layout-1 {
  padding: 15px 0;
}

.u-section-4-1 .u-text-2 {
  font-weight: 400;
  margin: 24px 12px 0;
}

@media (max-width: 1199px) {
  .u-section-4-1 .u-text-1 {
    margin-top: 50px;
  }

  .u-section-4-1 .u-group-1 {
    margin-top: -10px;
    margin-bottom: 32px;
    height: auto;
  }

  .u-section-4-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4-1 .u-text-1 {
    margin-top: 150px;
  }

  .u-section-4-1 .u-group-1 {
    margin-top: 20px;
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-4-1 .u-text-1 {
    margin-top: 275px;
  }

  .u-section-4-1 .u-group-1 {
    margin-top: -235px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 600px;
  }

  .u-section-4-1 .u-group-1 {
    margin-top: -532px;
  }
}

.u-section-4-2 .u-sheet-1 {
  min-height: 585px;
}

.u-section-4-2 .u-text-1 {
  font-size: 3rem;
  margin: 25px auto 0;
}

.u-section-4-2 .u-group-1 {
  min-height: 427px;
  margin-top: 25px;
  margin-bottom: 51px;
  height: auto;
}

.u-section-4-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-4-2 .u-text-2 {
  font-size: 1rem;
  margin: 49px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4-2 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4-2 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 10px;
} .u-section-6 {
  background-image: none;
  min-height: 1532px;
}

.u-section-6 .u-image-1 {
  min-height: 695px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/c773f539415cd2720117dc562c0b10b9c11c1795d88fc2dfe473455dc34b09fd6d71d117b97ae388369b030ab6893ec468a83c46cad2d6313cf296_1280.jpg");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  font-size: 2.25rem;
  width: 844px;
  margin: 58px auto 0;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1119px;
  margin: 36px auto 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 167px;
}

.u-section-6 .u-container-layout-2 {
  padding: 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.125rem;
  margin: 6px auto 0 -15px;
}

.u-section-6 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 28px auto 0;
  padding: 0;
}

.u-section-6 .u-line-1 {
  width: 891px;
  margin: 15px auto 0 69px;
}

.u-section-6 .u-text-3 {
  width: 361px;
  margin: 42px auto 0;
}

.u-section-6 .u-text-4 {
  font-weight: 400;
  width: 525px;
  margin: 18px auto 0;
}

.u-section-6 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 42px auto 0;
  padding: 0;
}

.u-section-6 .u-list-1 {
  width: 1140px;
  margin: -184px auto 0;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  min-height: 374px;
  grid-gap: 30px 30px;
}

.u-section-6 .u-list-item-1 {
  background-image: none;
}

.u-section-6 .u-container-layout-3 {
  padding: 0 0 20px;
}

.u-section-6 .u-image-2 {
  height: 279px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-5 {
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-6 .u-list-item-2 {
  background-image: none;
}

.u-section-6 .u-container-layout-4 {
  padding: 0 0 20px;
}

.u-section-6 .u-image-3 {
  height: 279px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 30px auto 0;
}

.u-section-6 .u-list-item-3 {
  background-image: none;
}

.u-section-6 .u-container-layout-5 {
  padding: 0 0 20px;
}

.u-section-6 .u-image-4 {
  height: 279px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-7 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 30px auto 0;
}

.u-section-6 .u-btn-3 {
  border-style: solid;
  margin: 19px auto 0 calc(((100% - 1140px) / 2) + 148px);
  padding: 0;
}

.u-section-6 .u-btn-4 {
  border-style: solid;
  margin: -27px auto 0;
  padding: 0;
}

.u-section-6 .u-btn-5 {
  border-style: solid;
  margin: -27px calc(((100% - 1140px) / 2) + 141px) 0 auto;
  padding: 0;
}

.u-section-6 .u-list-2 {
  width: 1140px;
  margin: 57px auto 0;
}

.u-section-6 .u-repeater-2 {
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  min-height: 359px;
  grid-gap: 30px 30px;
}

.u-section-6 .u-list-item-4 {
  background-image: none;
}

.u-section-6 .u-container-layout-6 {
  padding: 0;
}

.u-section-6 .u-image-5 {
  height: 279px;
  width: 360px;
  margin: 0 -2px 0 auto;
}

.u-section-6 .u-text-8 {
  font-weight: 700;
  margin: 23px auto 0;
}

.u-section-6 .u-list-item-5 {
  background-image: none;
}

.u-section-6 .u-container-layout-7 {
  padding: 0;
}

.u-section-6 .u-image-6 {
  height: 279px;
  width: 360px;
  margin: 0 -2px 0 auto;
}

.u-section-6 .u-text-9 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 23px auto 0;
}

.u-section-6 .u-list-item-6 {
  background-image: none;
}

.u-section-6 .u-container-layout-8 {
  padding: 0;
}

.u-section-6 .u-image-7 {
  height: 279px;
  width: 360px;
  margin: 0 -2px 0 auto;
}

.u-section-6 .u-text-10 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 23px auto 0;
}

.u-section-6 .u-btn-6 {
  border-style: solid;
  margin: 57px auto 0 calc(((100% - 1140px) / 2) + 148px);
  padding: 0;
}

.u-section-6 .u-btn-7 {
  border-style: solid;
  margin: -27px auto 0;
  padding: 0;
}

.u-section-6 .u-btn-8 {
  border-style: solid;
  margin: -27px calc(((100% - 1140px) / 2) + 141px) 60px auto;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 1539px;
  }

  .u-section-6 .u-image-1 {
    height: auto;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 880px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 172px;
  }

  .u-section-6 .u-line-1 {
    width: 912px;
    margin-top: 20px;
    margin-left: 0;
    height: 0;
  }

  .u-section-6 .u-list-1 {
    width: 940px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 305px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-bottom: 9px;
  }

  .u-section-6 .u-image-2 {
    height: 230px;
  }

  .u-section-6 .u-image-3 {
    height: 230px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-bottom: 9px;
  }

  .u-section-6 .u-image-4 {
    height: 230px;
  }

  .u-section-6 .u-btn-3 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-6 .u-btn-5 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-6 .u-list-2 {
    width: 940px;
  }

  .u-section-6 .u-repeater-2 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 293px;
  }

  .u-section-6 .u-btn-6 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-6 .u-btn-8 {
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 2022px;
  }

  .u-section-6 .u-text-1 {
    width: 720px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 660px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-line-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-6 .u-list-1 {
    width: 720px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 747px;
  }

  .u-section-6 .u-image-2 {
    height: 264px;
  }

  .u-section-6 .u-image-3 {
    height: 264px;
  }

  .u-section-6 .u-image-4 {
    height: 264px;
  }

  .u-section-6 .u-btn-3 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-6 .u-btn-5 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-6 .u-list-2 {
    width: 720px;
  }

  .u-section-6 .u-repeater-2 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 719px;
  }

  .u-section-6 .u-btn-6 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-6 .u-btn-8 {
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-1 {
    width: 540px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 520px;
  }

  .u-section-6 .u-line-1 {
    width: 540px;
    margin-top: -8px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-6 .u-text-4 {
    width: 520px;
  }

  .u-section-6 .u-list-1 {
    width: 540px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-image-2 {
    height: 396px;
  }

  .u-section-6 .u-image-3 {
    height: 396px;
  }

  .u-section-6 .u-image-4 {
    height: 396px;
  }

  .u-section-6 .u-btn-3 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-6 .u-btn-5 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-6 .u-list-2 {
    width: 540px;
  }

  .u-section-6 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-btn-6 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-6 .u-btn-8 {
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    width: 340px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 320px;
  }

  .u-section-6 .u-line-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-6 .u-text-3 {
    width: 320px;
  }

  .u-section-6 .u-text-4 {
    width: 320px;
  }

  .u-section-6 .u-list-1 {
    width: 340px;
  }

  .u-section-6 .u-image-2 {
    height: 249px;
  }

  .u-section-6 .u-image-3 {
    height: 249px;
  }

  .u-section-6 .u-image-4 {
    height: 249px;
  }

  .u-section-6 .u-btn-3 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-6 .u-btn-5 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-6 .u-list-2 {
    width: 340px;
  }

  .u-section-6 .u-image-5 {
    height: 264px;
    width: 340px;
    margin-right: 0;
  }

  .u-section-6 .u-image-6 {
    height: 264px;
    width: 340px;
    margin-right: 0;
  }

  .u-section-6 .u-image-7 {
    height: 264px;
    width: 340px;
    margin-right: 0;
  }

  .u-section-6 .u-btn-6 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-6 .u-btn-8 {
    margin-right: calc(((100% - 340px) / 2));
  }
}.u-section-7 .u-sheet-1 {
  min-height: 10px;
}.u-section-8 .u-sheet-1 {
  min-height: 670px;
}

.u-section-8 .u-text-1 {
  font-weight: 400;
  margin: 72px auto 0;
}

.u-section-8 .u-map-1 {
  height: 367px;
  margin-top: 56px;
  margin-bottom: 0;
}

.u-section-8 .u-text-2 {
  margin: 43px auto 43px 0;
}.u-section-9 .u-sheet-1 {
  min-height: 10px;
} .u-section-10 {
  min-height: 690px;
}

.u-section-10 .u-group-1 {
  width: 800px;
  min-height: 392px;
  height: auto;
  margin: 0 auto;
}

.u-section-10 .u-container-layout-1 {
  padding: 0;
}

.u-section-10 .u-text-1 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 21px 195px 0 233px;
}

.u-section-10 .u-image-1 {
  width: 100px;
  height: 100px;
  margin: 16px auto 0;
}

.u-section-10 .u-text-2 {
  font-weight: 400;
  font-size: 1.25rem;
  width: 130px;
  margin: 13px auto 0;
}

.u-section-10 .u-text-3 {
  font-weight: normal;
  width: 179px;
  margin: 2px auto 0;
}

.u-section-10 .u-social-icons-1 {
  height: 38px;
  min-height: 16px;
  width: 134px;
  min-width: 68px;
  margin: 1px auto 0;
}

.u-section-10 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-10 .u-icon-2 {
  color: rgb(85, 172, 238) !important;
  height: 100%;
}

.u-section-10 .u-icon-3 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

.u-section-10 .u-text-4 {
  font-size: 1.125rem;
  font-weight: normal;
  width: 282px;
  margin: 11px auto 0;
}

.u-section-10 .u-layout-wrap-1 {
  width: 853px;
  margin: 28px auto 0 calc(((100% - 1140px) / 2) + 144px);
}

.u-section-10 .u-layout-cell-1 {
  min-height: 232px;
}

.u-section-10 .u-container-layout-2 {
  padding: 15px 0;
}

.u-section-10 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 0 auto;
  padding: 10px 54px 10px 52px;
}

.u-section-10 .u-text-5 {
  font-weight: 400;
  font-size: 0.875rem;
  margin: 31px 3px 0 5px;
}

.u-section-10 .u-icon-6 {
  font-size: 1.2858em;
}

.u-section-10 .u-icon-7 {
  font-size: 1.2858em;
}

.u-section-10 .u-icon-8 {
  font-size: 1.2858em;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 232px;
}

.u-section-10 .u-container-layout-3 {
  padding: 15px 0;
}

.u-section-10 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 1px auto 0;
  padding: 10px 84px 10px 82px;
}

.u-section-10 .u-text-6 {
  font-weight: 400;
  font-size: 0.875rem;
  margin: 24px 16px 0;
}

.u-section-10 .u-icon-9 {
  font-size: 1.2858em;
}

.u-section-10 .u-icon-10 {
  font-size: 1.5em;
}

.u-section-10 .u-icon-11 {
  width: 16px;
  height: 19px;
  font-size: 1.2858em;
}

.u-section-10 .u-icon-12 {
  font-size: 1.2858em;
}

.u-section-10 .u-layout-cell-3 {
  min-height: 232px;
}

.u-section-10 .u-container-layout-4 {
  padding: 0;
}

.u-section-10 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 17px auto 0;
  padding: 10px 62px 10px 60px;
}

.u-section-10 .u-text-7 {
  font-weight: 400;
  font-size: 0.875rem;
  margin: 31px 7px 0;
}

.u-section-10 .u-icon-13 {
  font-size: 1.2858em;
}

.u-section-10 .u-icon-14 {
  font-size: 1.2858em;
}

.u-section-10 .u-icon-15 {
  font-size: 1.2858em;
}

.u-section-10 .u-group-2 {
  min-height: 60px;
  height: auto;
  margin-top: -22px;
  margin-bottom: 0;
}

.u-section-10 .u-container-layout-5 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-section-10 .u-group-3 {
  width: 341px;
  min-height: 94px;
  height: auto;
  margin: -154px auto 0 calc(((100% - 1140px) / 2) + -195px);
}

.u-section-10 .u-container-layout-6 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-10 .u-group-4 {
  width: calc(((100% - 1140px) / 2) + 144px);
  min-height: 94px;
  height: auto;
  margin: -94px 0 60px auto;
}

.u-section-10 .u-container-layout-7 {
  padding-top: 0;
  padding-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-group-1 {
    height: auto;
  }

  .u-section-10 .u-text-1 {
    font-size: 1.25rem;
    width: 272px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-left: calc(((100% - 940px) / 2) + 87px);
  }

  .u-section-10 .u-btn-1 {
    padding-right: 38px;
    padding-left: 37px;
  }

  .u-section-10 .u-btn-2 {
    padding-left: 75px;
    padding-right: 75px;
  }

  .u-section-10 .u-btn-3 {
    padding-left: 51px;
    padding-right: 51px;
  }

  .u-section-10 .u-group-2 {
    height: auto;
  }

  .u-section-10 .u-group-3 {
    margin-left: calc(((100% - 940px) / 2) + -195px);
    height: auto;
  }

  .u-section-10 .u-group-4 {
    width: calc(((100% - 940px) / 2) + 144px);
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-10 {
    min-height: 558px;
  }

  .u-section-10 .u-group-1 {
    width: 720px;
  }

  .u-section-10 .u-text-1 {
    margin-left: 193px;
    margin-right: 155px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-10 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-10 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-10 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-group-3 {
    margin-left: calc(((100% - 720px) / 2) + -195px);
  }

  .u-section-10 .u-group-4 {
    width: calc(((100% - 720px) / 2) + 144px);
  }
}

@media (max-width: 767px) {
   .u-section-10 {
    min-height: 658px;
  }

  .u-section-10 .u-group-1 {
    width: 540px;
  }

  .u-section-10 .u-text-1 {
    margin-left: 103px;
    margin-right: 65px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-10 .u-container-layout-5 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-10 .u-group-3 {
    margin-left: calc(((100% - 540px) / 2) + -195px);
  }

  .u-section-10 .u-group-4 {
    width: calc(((100% - 540px) / 2) + 144px);
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-group-1 {
    width: 340px;
  }

  .u-section-10 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-10 .u-group-3 {
    margin-left: calc(((100% - 340px) / 2) + -195px);
  }

  .u-section-10 .u-group-4 {
    width: calc(((100% - 340px) / 2) + 144px);
  }
}