 .u-section-1 {
  background-image: url("images/Ateneo12.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 412px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 237px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 149px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 64px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  margin: 13px auto;
} .u-section-3 {
  min-height: 68px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 68px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 0 7px;
}

.u-section-3 .u-text-1 {
  font-size: 0.875rem;
  font-weight: normal;
  width: 169px;
  margin: 5px auto 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 68px;
}

.u-section-3 .u-container-layout-2 {
  padding: 1px 0;
}

.u-section-3 .u-text-2 {
  font-size: 0.875rem;
  font-weight: normal;
  width: 201px;
  margin: 6px auto 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 68px;
}

.u-section-3 .u-container-layout-3 {
  padding: 1px 0;
}

.u-section-3 .u-text-3 {
  font-size: 0.875rem;
  font-weight: normal;
  width: 194px;
  margin: 0 auto;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 68px;
}

.u-section-3 .u-container-layout-4 {
  padding: 10px 23px 9px;
}

.u-section-3 .u-text-4 {
  font-size: 0.875rem;
  font-weight: normal;
  margin: 0 4px;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 68px;
}

.u-section-3 .u-container-layout-5 {
  padding: 11px 22px 17px;
}

.u-section-3 .u-text-5 {
  font-size: 0.875rem;
  font-weight: normal;
  margin: 0 auto;
}

.u-section-3 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 68px;
}

.u-section-3 .u-container-layout-6 {
  padding: 0;
}

.u-section-3 .u-text-6 {
  font-size: 0.875rem;
  font-weight: normal;
  width: 166px;
  margin: 5px auto 0;
}

.u-section-3 .u-btn-6 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 74px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 56px;
  }

  .u-section-3 .u-text-1 {
    width: 157px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 56px;
  }

  .u-section-3 .u-text-2 {
    width: 157px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 56px;
  }

  .u-section-3 .u-text-3 {
    width: 157px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 56px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 56px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 56px;
  }

  .u-section-3 .u-text-6 {
    width: 157px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 254px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    width: 120px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-2 {
    width: 120px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-text-3 {
    width: 120px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-3 .u-text-6 {
    width: 120px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1038px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 846px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 10px;
}.u-section-5 .u-sheet-1 {
  min-height: 93px;
}

.u-section-5 .u-image-1 {
  width: 66px;
  height: 66px;
  margin: 14px auto 0 11px;
}

.u-section-5 .u-group-1 {
  width: 457px;
  min-height: 73px;
  height: auto;
  margin: -69px auto 10px 77px;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-5 .u-text-1 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-group-1 {
    width: 340px;
    margin-left: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 1310px;
}

.u-section-6 .u-group-1 {
  min-height: 250px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-6 .u-text-1 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-6 .u-text-2 {
  font-weight: normal;
  margin: 20px 0 0;
}

.u-section-6 .u-group-2 {
  min-height: 250px;
  margin-top: 30px;
  margin-bottom: 0;
  height: auto;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-6 .u-text-3 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-6 .u-text-4 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-6 .u-group-3 {
  min-height: 250px;
  margin-top: 30px;
  margin-bottom: 0;
  height: auto;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-6 .u-text-5 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-6 .u-text-6 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-6 .u-group-4 {
  min-height: 357px;
  height: auto;
  margin-top: 46px;
  margin-bottom: 60px;
}

.u-section-6 .u-container-layout-4 {
  padding: 0;
}

.u-section-6 .u-group-5 {
  width: 480px;
  min-height: 51px;
  height: auto;
  margin: 9px auto 0;
}

.u-section-6 .u-container-layout-5 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-6 .u-text-7 {
  font-weight: 400;
  font-size: 1.25rem;
  width: 328px;
  margin: 0 auto;
}

.u-section-6 .u-text-8 {
  font-weight: 400;
  font-size: 1.25rem;
  width: 356px;
  margin: 26px auto 0;
}

.u-section-6 .u-text-9 {
  font-weight: 400;
  margin: 25px 10px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-group-1 {
    height: auto;
  }

  .u-section-6 .u-group-2 {
    height: auto;
  }

  .u-section-6 .u-group-3 {
    height: auto;
  }

  .u-section-6 .u-group-4 {
    height: auto;
  }

  .u-section-6 .u-group-5 {
    height: auto;
  }

  .u-section-6 .u-container-layout-5 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-6 .u-text-9 {
    margin-right: 0;
    margin-left: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-9 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-group-5 {
    width: 340px;
  }

  .u-section-6 .u-text-7 {
    width: 320px;
  }

  .u-section-6 .u-text-8 {
    width: 340px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 110px;
}

.u-section-7 .u-image-1 {
  width: 72px;
  height: 72px;
  margin: 19px auto 0 0;
}

.u-section-7 .u-text-1 {
  text-transform: uppercase;
  margin: -69px auto 22px 86px;
}.u-section-8 .u-sheet-1 {
  min-height: 4685px;
}

.u-section-8 .u-group-1 {
  min-height: 310px;
  margin-top: 30px;
  margin-bottom: 0;
  height: auto;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-8 .u-group-2 {
  width: 333px;
  min-height: 34px;
  height: auto;
  margin: 0 auto;
}

.u-section-8 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-8 .u-text-1 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-8 .u-text-2 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-8 .u-text-3 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-8 .u-group-3 {
  min-height: 250px;
  margin-top: 30px;
  margin-bottom: 0;
  height: auto;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-8 .u-text-4 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-8 .u-text-5 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-8 .u-group-4 {
  min-height: 250px;
  margin-top: 30px;
  margin-bottom: 0;
  height: auto;
}

.u-section-8 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-8 .u-text-6 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-8 .u-text-7 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-8 .u-group-5 {
  min-height: 250px;
  margin-top: 30px;
  margin-bottom: 0;
  height: auto;
}

.u-section-8 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-8 .u-text-8 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-8 .u-text-9 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-8 .u-group-6 {
  min-height: 1180px;
  height: auto;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-8 .u-container-layout-6 {
  padding: 13px 0;
}

.u-section-8 .u-group-7 {
  width: 302px;
  min-height: 41px;
  height: auto;
  margin: 0 auto;
}

.u-section-8 .u-container-layout-7 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-8 .u-text-10 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-8 .u-text-11 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 19px auto 0;
}

.u-section-8 .u-text-12 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-8 .u-group-8 {
  min-height: 310px;
  height: auto;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-8 .u-container-layout-8 {
  padding: 23px 0;
}

.u-section-8 .u-group-9 {
  width: 294px;
  min-height: 44px;
  height: auto;
  margin: 0 auto;
}

.u-section-8 .u-container-layout-9 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-8 .u-text-13 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-8 .u-text-14 {
  font-weight: 400;
  margin: 30px 0 0;
}

.u-section-8 .u-group-10 {
  min-height: 350px;
  height: auto;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-8 .u-container-layout-10 {
  padding: 30px 0;
}

.u-section-8 .u-group-11 {
  width: 487px;
  min-height: 43px;
  height: auto;
  margin: 0 auto;
}

.u-section-8 .u-container-layout-11 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-8 .u-text-15 {
  margin-bottom: 0;
  margin-top: 7px;
  font-size: 1.25rem;
}

.u-section-8 .u-text-16 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 30px auto 0;
}

.u-section-8 .u-text-17 {
  margin: 20px 0 0;
}

.u-section-8 .u-group-12 {
  min-height: 336px;
  height: auto;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-8 .u-container-layout-12 {
  padding: 30px 0;
}

.u-section-8 .u-text-18 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 7px auto 0;
}

.u-section-8 .u-text-19 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-8 .u-group-13 {
  min-height: 310px;
  height: auto;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-8 .u-container-layout-13 {
  padding: 30px 0;
}

.u-section-8 .u-group-14 {
  width: 344px;
  min-height: 44px;
  height: auto;
  margin: 0 auto;
}

.u-section-8 .u-container-layout-14 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-8 .u-text-20 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-8 .u-text-21 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 30px auto 0;
}

.u-section-8 .u-text-22 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-8 .u-group-15 {
  min-height: 250px;
  height: auto;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-8 .u-container-layout-15 {
  padding: 30px 0;
}

.u-section-8 .u-text-23 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-8 .u-text-24 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-8 .u-group-16 {
  min-height: 529px;
  height: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.u-section-8 .u-container-layout-16 {
  padding: 30px 0;
}

.u-section-8 .u-text-25 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-8 .u-text-26 {
  font-weight: 400;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-group-1 {
    height: auto;
  }

  .u-section-8 .u-group-2 {
    height: auto;
  }

  .u-section-8 .u-group-3 {
    height: auto;
  }

  .u-section-8 .u-group-4 {
    height: auto;
  }

  .u-section-8 .u-group-5 {
    height: auto;
  }

  .u-section-8 .u-group-6 {
    height: auto;
  }

  .u-section-8 .u-group-7 {
    height: auto;
  }

  .u-section-8 .u-group-8 {
    height: auto;
  }

  .u-section-8 .u-group-9 {
    height: auto;
  }

  .u-section-8 .u-group-10 {
    height: auto;
  }

  .u-section-8 .u-group-11 {
    height: auto;
  }

  .u-section-8 .u-group-12 {
    height: auto;
  }

  .u-section-8 .u-group-13 {
    height: auto;
  }

  .u-section-8 .u-group-14 {
    height: auto;
  }

  .u-section-8 .u-group-15 {
    height: auto;
  }

  .u-section-8 .u-group-16 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-group-11 {
    width: 340px;
  }

  .u-section-8 .u-group-14 {
    width: 340px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 98px;
}

.u-section-9 .u-text-1 {
  font-weight: normal;
  margin: 16px auto 0 79px;
}

.u-section-9 .u-image-1 {
  width: 63px;
  height: 58px;
  margin: -59px auto 16px 0;
}.u-section-10 .u-sheet-1 {
  min-height: 2773px;
}

.u-section-10 .u-list-1 {
  width: 1134px;
  margin: 0 auto 0 0;
}

.u-section-10 .u-repeater-1 {
  min-height: 261px;
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
}

.u-section-10 .u-container-layout-1 {
  padding: 0;
}

.u-section-10 .u-text-1 {
  font-weight: 400;
  font-size: 1.25rem;
  width: 228px;
  text-transform: none;
  margin: 22px auto 0;
}

.u-section-10 .u-text-2 {
  margin: 18px 0 0;
}

.u-section-10 .u-group-1 {
  min-height: 327px;
  margin-top: 30px;
  margin-bottom: 0;
  height: auto;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-10 .u-text-3 {
  font-weight: 400;
  font-size: 1.25rem;
  width: 427px;
  margin: 0 auto;
}

.u-section-10 .u-text-4 {
  font-weight: 400;
  margin: 20px 0 0 6px;
}

.u-section-10 .u-group-2 {
  min-height: 250px;
  margin-top: 30px;
  margin-bottom: 0;
  height: auto;
}

.u-section-10 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-10 .u-text-5 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-10 .u-text-6 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-10 .u-group-3 {
  min-height: 250px;
  margin-top: 30px;
  margin-bottom: 0;
  height: auto;
}

.u-section-10 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-10 .u-text-7 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 6px auto 0;
}

.u-section-10 .u-text-8 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-10 .u-group-4 {
  min-height: 250px;
  margin-top: 30px;
  margin-bottom: 0;
  height: auto;
}

.u-section-10 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-10 .u-text-9 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-10 .u-text-10 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-10 .u-group-5 {
  min-height: 349px;
  margin-top: 30px;
  margin-bottom: 0;
  height: auto;
}

.u-section-10 .u-container-layout-6 {
  padding: 30px 0;
}

.u-section-10 .u-group-6 {
  width: 418px;
  min-height: 46px;
  height: auto;
  margin: 0 auto;
}

.u-section-10 .u-container-layout-7 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-10 .u-text-11 {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.25rem;
}

.u-section-10 .u-text-12 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 22px auto 0;
}

.u-section-10 .u-text-13 {
  font-weight: 400;
  margin: 38px 0 0;
}

.u-section-10 .u-group-7 {
  min-height: 250px;
  margin-top: 46px;
  margin-bottom: 0;
  height: auto;
}

.u-section-10 .u-container-layout-8 {
  padding: 30px 0;
}

.u-section-10 .u-text-14 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 6px auto 0;
}

.u-section-10 .u-text-15 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-10 .u-group-8 {
  min-height: 250px;
  margin-top: 42px;
  margin-bottom: 0;
  height: auto;
}

.u-section-10 .u-container-layout-9 {
  padding: 30px 0;
}

.u-section-10 .u-text-16 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-10 .u-text-17 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-10 .u-group-9 {
  min-height: 250px;
  margin-top: 42px;
  margin-bottom: 44px;
  height: auto;
}

.u-section-10 .u-container-layout-10 {
  padding: 30px 0;
}

.u-section-10 .u-text-18 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-10 .u-text-19 {
  font-weight: 400;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-list-1 {
    width: 940px;
  }

  .u-section-10 .u-group-1 {
    height: auto;
  }

  .u-section-10 .u-text-3 {
    margin-left: 315px;
  }

  .u-section-10 .u-text-4 {
    margin-left: 0;
  }

  .u-section-10 .u-group-2 {
    height: auto;
  }

  .u-section-10 .u-group-3 {
    height: auto;
  }

  .u-section-10 .u-group-4 {
    height: auto;
  }

  .u-section-10 .u-group-5 {
    height: auto;
  }

  .u-section-10 .u-group-6 {
    height: auto;
  }

  .u-section-10 .u-group-7 {
    height: auto;
  }

  .u-section-10 .u-group-8 {
    height: auto;
  }

  .u-section-10 .u-group-9 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-list-1 {
    width: 720px;
  }

  .u-section-10 .u-text-3 {
    margin-left: 236px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-list-1 {
    width: 540px;
  }

  .u-section-10 .u-text-3 {
    margin-left: 186px;
  }

  .u-section-10 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-list-1 {
    width: 340px;
  }

  .u-section-10 .u-text-3 {
    margin-left: 114px;
    width: 340px;
  }

  .u-section-10 .u-group-6 {
    width: 340px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 99px;
}

.u-section-11 .u-image-1 {
  width: 71px;
  height: 71px;
  margin: 14px auto 0 0;
}

.u-section-11 .u-text-1 {
  font-weight: normal;
  margin: -68px auto 17px 85px;
}.u-section-12 .u-sheet-1 {
  min-height: 1923px;
}

.u-section-12 .u-group-1 {
  min-height: 250px;
  margin-top: 8px;
  margin-bottom: 0;
  height: auto;
}

.u-section-12 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-12 .u-text-1 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-12 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-12 .u-group-2 {
  min-height: 347px;
  margin-top: 30px;
  margin-bottom: 0;
  height: auto;
}

.u-section-12 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-12 .u-text-3 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-12 .u-text-4 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-12 .u-group-3 {
  min-height: 298px;
  margin-top: 30px;
  margin-bottom: 0;
  height: auto;
}

.u-section-12 .u-container-layout-3 {
  padding: 20px 0;
}

.u-section-12 .u-group-4 {
  width: 377px;
  min-height: 44px;
  height: auto;
  margin: 0 382px;
}

.u-section-12 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-12 .u-text-5 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 10px 9px 0;
}

.u-section-12 .u-text-6 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 19px auto 0;
}

.u-section-12 .u-text-7 {
  font-weight: 400;
  margin: 19px 0 0;
}

.u-section-12 .u-group-5 {
  min-height: 700px;
  margin-top: 9px;
  margin-bottom: 20px;
  height: auto;
}

.u-section-12 .u-container-layout-5 {
  padding: 28px 0;
}

.u-section-12 .u-group-6 {
  width: 396px;
  min-height: 31px;
  height: auto;
  margin: 0 auto;
}

.u-section-12 .u-container-layout-6 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-12 .u-text-8 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-12 .u-text-9 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 19px auto 0;
}

.u-section-12 .u-text-10 {
  font-weight: 400;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-12 .u-group-1 {
    height: auto;
  }

  .u-section-12 .u-group-2 {
    height: auto;
  }

  .u-section-12 .u-group-3 {
    height: auto;
  }

  .u-section-12 .u-group-4 {
    margin-right: 282px;
    margin-left: 282px;
    height: auto;
  }

  .u-section-12 .u-group-5 {
    height: auto;
  }

  .u-section-12 .u-group-6 {
    height: auto;
  }

  .u-section-12 .u-container-layout-6 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-group-4 {
    margin-right: 172px;
    margin-left: 172px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-group-4 {
    margin-right: 82px;
    margin-left: 82px;
  }

  .u-section-12 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-group-4 {
    width: 340px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-12 .u-group-6 {
    width: 340px;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 97px;
}

.u-section-13 .u-text-1 {
  margin: 16px auto 0 89px;
}

.u-section-13 .u-image-1 {
  width: 73px;
  height: 73px;
  margin: -66px auto 9px 0;
}

@media (max-width: 1199px) {
  .u-section-13 .u-image-1 {
    margin-top: -61px;
  }
}.u-section-14 .u-sheet-1 {
  min-height: 387px;
}

.u-section-14 .u-group-1 {
  min-height: 250px;
  margin-top: 30px;
  margin-bottom: 30px;
  height: auto;
}

.u-section-14 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-14 .u-text-1 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-14 .u-text-2 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-14 .u-group-1 {
    height: auto;
  }
}.u-section-15 .u-sheet-1 {
  min-height: 98px;
}

.u-section-15 .u-image-1 {
  width: 68px;
  height: 68px;
  margin: 20px auto 0 20px;
}

.u-section-15 .u-text-1 {
  text-transform: uppercase;
  margin: -68px auto 12px 108px;
}.u-section-16 .u-sheet-1 {
  min-height: 3021px;
}

.u-section-16 .u-group-1 {
  min-height: 310px;
  margin-top: 30px;
  margin-bottom: 0;
  height: auto;
}

.u-section-16 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-16 .u-group-2 {
  width: 356px;
  min-height: 52px;
  height: auto;
  margin: 0 auto;
}

.u-section-16 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-16 .u-text-1 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-16 .u-text-2 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-16 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-16 .u-group-3 {
  min-height: 250px;
  margin-top: 30px;
  margin-bottom: 0;
  height: auto;
}

.u-section-16 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-16 .u-text-4 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-16 .u-text-5 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-16 .u-group-4 {
  min-height: 310px;
  margin-top: 30px;
  margin-bottom: 0;
  height: auto;
}

.u-section-16 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-16 .u-group-5 {
  width: 443px;
  min-height: 66px;
  height: auto;
  margin: 0 auto;
}

.u-section-16 .u-container-layout-5 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-16 .u-text-6 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-16 .u-text-7 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 30px auto 0;
}

.u-section-16 .u-text-8 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-16 .u-group-6 {
  min-height: 250px;
  margin-top: 30px;
  margin-bottom: 0;
  height: auto;
}

.u-section-16 .u-container-layout-6 {
  padding: 30px 0;
}

.u-section-16 .u-text-9 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-16 .u-text-10 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-16 .u-group-7 {
  min-height: 333px;
  margin-top: 28px;
  margin-bottom: 0;
  height: auto;
}

.u-section-16 .u-container-layout-7 {
  padding: 30px 0;
}

.u-section-16 .u-text-11 {
  font-weight: 400;
  font-size: 1.25rem;
  width: 441px;
  margin: 0 auto;
}

.u-section-16 .u-text-12 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-16 .u-group-8 {
  min-height: 310px;
  margin-top: 30px;
  margin-bottom: 0;
  height: auto;
}

.u-section-16 .u-container-layout-8 {
  padding: 30px 0;
}

.u-section-16 .u-group-9 {
  width: 337px;
  min-height: 40px;
  height: auto;
  margin: 7px auto 0;
}

.u-section-16 .u-container-layout-9 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-16 .u-text-13 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-16 .u-text-14 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-16 .u-text-15 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-16 .u-group-10 {
  min-height: 250px;
  margin-top: 30px;
  margin-bottom: 60px;
  height: auto;
}

.u-section-16 .u-container-layout-10 {
  padding: 30px 0;
}

.u-section-16 .u-text-16 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-16 .u-text-17 {
  font-weight: 400;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-16 .u-group-1 {
    height: auto;
  }

  .u-section-16 .u-group-2 {
    height: auto;
  }

  .u-section-16 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-16 .u-group-3 {
    height: auto;
  }

  .u-section-16 .u-group-4 {
    height: auto;
  }

  .u-section-16 .u-group-5 {
    height: auto;
  }

  .u-section-16 .u-group-6 {
    height: auto;
  }

  .u-section-16 .u-group-7 {
    height: auto;
  }

  .u-section-16 .u-group-8 {
    height: auto;
  }

  .u-section-16 .u-group-9 {
    height: auto;
  }

  .u-section-16 .u-group-10 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-16 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-16 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-16 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-16 .u-group-2 {
    width: 340px;
  }

  .u-section-16 .u-group-5 {
    width: 340px;
  }

  .u-section-16 .u-text-11 {
    width: 340px;
  }
}