.u-section-1 .u-sheet-1 {
  min-height: 50px;
}.u-section-2 .u-sheet-1 {
  min-height: 894px;
}

.u-section-2 .u-group-1 {
  min-height: 844px;
  height: auto;
  margin-top: 50px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-text-1 {
  font-weight: normal;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  font-weight: normal;
  margin: 49px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 909px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 890px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 875px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 858px;
  }
} .u-section-3 {
  background-image: url("images/Scholarships-2.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 456px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 376px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 288px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 216px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 136px;
  }
}