body {
  background: linear-gradient(70deg, rgb(91, 91, 91), rgb(19, 52, 160));
  background-repeat: no-repeat;
}

#about {
  padding-top: 5rem;
  height: 110vh;
}

#about p {
  text-align: justify;
}

#skills {
  height: 110vh;
}

#skills .card img {
  width: 70px;
  height: 70px;
}

.box {
  background-color: white;
  border: 1px solid blue;
  min-height: 50px;
  font-size: 2rem;
}
