 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/9c79aa8e4ce09709e082ccff27aa2269c39fd592f140a8ab49b5a562518f3f78658cc3aa9f3d1cac79d11e771d504041d2607dd36fd650ed68356d_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 725px;
}

.u-section-1 .u-group-1 {
  width: 713px;
  min-height: 304px;
  height: auto;
  margin: 211px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  width: 154px;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 4px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  margin: 51px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-1 .u-social-icons-1 {
  height: 24px;
  min-height: 16px;
  width: 219px;
  min-width: 187px;
  margin: 52px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 24px;
}

.u-section-1 .u-icon-2 {
  height: 24px;
}

.u-section-1 .u-icon-3 {
  height: 24px;
}

.u-section-1 .u-icon-4 {
  height: 24px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -11px auto 60px;
  padding: 10px 53px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 598px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 458px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 344px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 217px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 742px;
}

.u-section-2 .u-image-1 {
  width: 258px;
  height: 256px;
  margin: -114px auto 0;
}

.u-section-2 .u-group-1 {
  min-height: 162px;
  height: auto;
  margin-top: 16px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 8px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: normal;
  margin: 9px 19px 0 0;
}

.u-section-2 .u-group-2 {
  width: 482px;
  min-height: 358px;
  height: auto;
  margin: 27px 0 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: 48px 368px 0 0;
}

.u-section-2 .u-text-5 {
  font-size: 1rem;
  font-weight: normal;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin: 9px 345px 0 0;
}

.u-section-2 .u-text-7 {
  font-size: 1rem;
  font-weight: normal;
  margin: 8px auto 0 0;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  margin: 8px 356px 0 0;
}

.u-section-2 .u-text-9 {
  font-size: 1rem;
  font-weight: normal;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-3 {
  width: 535px;
  min-height: 358px;
  height: auto;
  margin: -358px auto 37px 35px;
}

.u-section-2 .u-container-layout-3 {
  padding: 6px 0 0;
}

.u-section-2 .u-text-10 {
  font-weight: 700;
  margin: 0 378px 0 1px;
}

.u-section-2 .u-text-11 {
  font-weight: normal;
  margin: 48px auto 0 102px;
}

.u-section-2 .u-text-12 {
  font-weight: 700;
  margin: -150px 434px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-size: 0.875rem;
  background-image: none;
  font-weight: 700;
  margin: -24px auto 0 110px;
  padding: 0 10px;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  margin: 22px auto 0 0;
  padding: 0 30px 1px;
}

.u-section-2 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -23px auto 0 140px;
  padding: 0 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    --animation-custom_in-scale: 0.3;
    width: 256px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-group-2 {
    height: auto;
  }

  .u-section-2 .u-group-3 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-3 {
    margin-left: 5px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 385px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 440px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 111px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-2 {
    width: 340px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 226px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 203px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 214px;
  }

  .u-section-2 .u-group-3 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-2 .u-text-10 {
    margin-left: 0;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/16b07e8625ed113b4ca8b13ade8399de8a00e7b14a61d28a036cf08027b2f43445658cd910b776163d6e3af7afe2a6b27d2a80a555c9c70031c121_1280.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 514px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  line-height: 1.06;
  margin: 38px auto 0;
}

.u-section-3 .u-group-1 {
  width: 570px;
  min-height: 199px;
  height: auto;
  margin: 119px auto 0 0;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-text-2 {
  font-weight: normal;
  margin: 2px 45px 0 475px;
}

.u-section-3 .u-text-3 {
  font-size: 1rem;
  font-weight: normal;
  margin: -24px 440px 0 0;
}

.u-section-3 .u-group-2 {
  min-height: 8px;
  height: auto;
  width: 525px;
  margin: 3px auto 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-group-3 {
  min-height: 8px;
  width: 89px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-4 {
  font-size: 1rem;
  font-weight: normal;
  margin: 8px 440px 0 0;
}

.u-section-3 .u-text-5 {
  font-size: 1rem;
  font-weight: 700;
  margin: -18px 45px 0 475px;
}

.u-section-3 .u-group-4 {
  min-height: 8px;
  height: auto;
  width: 525px;
  margin: 1px auto 0 0;
}

.u-section-3 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-group-5 {
  min-height: 8px;
  width: 39px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-5 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-6 {
  font-size: 1rem;
  font-weight: normal;
  margin: 8px auto 0 0;
}

.u-section-3 .u-text-7 {
  font-size: 1rem;
  font-weight: normal;
  margin: -22px 45px 0 475px;
}

.u-section-3 .u-group-6 {
  min-height: 8px;
  height: auto;
  width: 525px;
  margin: 5px auto 0 0;
}

.u-section-3 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-group-7 {
  min-height: 8px;
  width: 61px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-7 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-8 {
  line-height: 1.49;
  font-size: 1rem;
  font-weight: normal;
  margin: 9px auto 0 0;
}

.u-section-3 .u-text-9 {
  font-size: 1rem;
  font-weight: 700;
  margin: -16px 45px 0 475px;
}

.u-section-3 .u-group-8 {
  min-height: 8px;
  height: auto;
  width: 525px;
  margin: 1px auto 0 0;
}

.u-section-3 .u-container-layout-8 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-group-9 {
  min-height: 8px;
  width: 61px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-9 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-group-10 {
  width: 570px;
  min-height: 199px;
  height: auto;
  margin: -199px 0 13px auto;
}

.u-section-3 .u-container-layout-10 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-text-10 {
  font-size: 1rem;
  font-weight: normal;
  margin: 3px 45px 0 475px;
}

.u-section-3 .u-text-11 {
  font-size: 1rem;
  font-weight: normal;
  margin: -24px 424px 0 0;
}

.u-section-3 .u-group-11 {
  min-height: 8px;
  height: auto;
  width: 525px;
  margin: 2px auto 0 0;
}

.u-section-3 .u-container-layout-11 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-group-12 {
  min-height: 8px;
  width: 38px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-12 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-12 {
  font-size: 1rem;
  font-weight: normal;
  margin: 7px 319px 0 0;
}

.u-section-3 .u-text-13 {
  font-size: 1rem;
  font-weight: normal;
  margin: -15px 45px 0 475px;
}

.u-section-3 .u-group-13 {
  min-height: 8px;
  height: auto;
  width: 525px;
  margin: -1px auto 0 0;
}

.u-section-3 .u-container-layout-13 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-group-14 {
  min-height: 8px;
  width: 56px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-14 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-14 {
  font-size: 1rem;
  font-weight: normal;
  margin: 8px auto 0 1px;
}

.u-section-3 .u-text-15 {
  font-size: 1rem;
  background-image: none;
  font-weight: normal;
  margin: -16px 45px 0 475px;
}

.u-section-3 .u-group-15 {
  min-height: 8px;
  height: auto;
  width: 525px;
  margin: -1px auto 0 0;
}

.u-section-3 .u-container-layout-15 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-group-16 {
  min-height: 7px;
  width: 53px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-16 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-16 {
  line-height: 1.49;
  font-size: 1rem;
  font-weight: normal;
  margin: 10px auto 0 0;
}

.u-section-3 .u-text-17 {
  font-size: 1rem;
  font-weight: normal;
  margin: -16px 49px 0 475px;
}

.u-section-3 .u-group-17 {
  min-height: 8px;
  height: auto;
  width: 525px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-17 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-group-18 {
  min-height: 8px;
  width: 61px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-18 {
  padding-left: 30px;
  padding-right: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 424px;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-group-2 {
    height: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-group-3 {
    height: auto;
  }

  .u-section-3 .u-group-4 {
    height: auto;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-group-5 {
    height: auto;
  }

  .u-section-3 .u-group-6 {
    height: auto;
  }

  .u-section-3 .u-container-layout-6 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-group-7 {
    height: auto;
  }

  .u-section-3 .u-group-8 {
    height: auto;
  }

  .u-section-3 .u-container-layout-8 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-group-9 {
    height: auto;
  }

  .u-section-3 .u-group-10 {
    height: auto;
  }

  .u-section-3 .u-container-layout-10 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-group-11 {
    height: auto;
  }

  .u-section-3 .u-container-layout-11 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-group-12 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0.55;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    height: auto;
  }

  .u-section-3 .u-group-13 {
    height: auto;
  }

  .u-section-3 .u-container-layout-13 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-group-14 {
    height: auto;
  }

  .u-section-3 .u-group-15 {
    height: auto;
  }

  .u-section-3 .u-container-layout-15 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-group-16 {
    height: auto;
  }

  .u-section-3 .u-group-17 {
    height: auto;
  }

  .u-section-3 .u-container-layout-17 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-group-18 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 325px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 244px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 30px;
    margin-left: 460px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 410px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 410px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 30px;
    margin-left: 460px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 30px;
    margin-left: 460px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 30px;
    margin-left: 460px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-10 {
    width: 540px;
  }

  .u-section-3 .u-text-10 {
    margin-right: 30px;
    margin-left: 460px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 394px;
  }

  .u-section-3 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-12 {
    margin-right: 289px;
  }

  .u-section-3 .u-text-13 {
    margin-right: 30px;
    margin-left: 460px;
  }

  .u-section-3 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-15 {
    margin-right: 30px;
    margin-left: 460px;
  }

  .u-section-3 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-17 {
    margin-right: 34px;
    margin-left: 460px;
  }

  .u-section-3 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 154px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 290px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 210px;
  }

  .u-section-3 .u-group-2 {
    width: 340px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 210px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
    margin-left: 290px;
  }

  .u-section-3 .u-group-4 {
    width: 340px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
    margin-left: 290px;
  }

  .u-section-3 .u-group-6 {
    width: 340px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 0;
    margin-left: 290px;
  }

  .u-section-3 .u-group-8 {
    width: 340px;
  }

  .u-section-3 .u-group-10 {
    width: 340px;
  }

  .u-section-3 .u-text-10 {
    margin-right: 0;
    margin-left: 290px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 194px;
  }

  .u-section-3 .u-group-11 {
    width: 340px;
  }

  .u-section-3 .u-text-12 {
    margin-right: 89px;
  }

  .u-section-3 .u-text-13 {
    margin-right: 0;
    margin-left: 290px;
  }

  .u-section-3 .u-group-13 {
    width: 340px;
  }

  .u-section-3 .u-text-15 {
    margin-right: 0;
    margin-left: 290px;
  }

  .u-section-3 .u-group-15 {
    width: 340px;
  }

  .u-section-3 .u-text-17 {
    margin-right: 0;
    margin-left: 294px;
  }

  .u-section-3 .u-group-17 {
    width: 340px;
  }
} 25%
        0