body {
  background-color: rgb(24, 26, 27);
  color: rgb(232, 230, 227);
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}
body ul,
ol {
  list-style: none;
}

header {
  display: block;
  display: flex;
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  /* font-weight: 300; */
  align-items: center;
  box-sizing: border-box;
  padding: 2rem 3rem;
  /* position: fixed; */
  background-color: inherit;
  top: 0;
  left: 0;
}

header a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

header ul {
  list-style: none;
  display: flex;
}

#name {
  font-weight: 600;
  font-size: 1.5rem;
}

header li {
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  border-radius: 4px;
}

.nav-list:hover {
  background-color: rgb(8, 68, 166);
}

main {
  position: absolute;
  top: 65px;
}

main img {
  width: 300px;
  top: 30px;
  display: inline-block;
}

main h2 {
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  margin: 1rem;
}

h2 {
  color: rgb(69, 159, 246);
}

#contact-me {
  display: flex;
}
